.origin-data {
  display: flex;
  width: 100%;
}


.old-data,
.new-data {
  width: 50%;
  padding: 5px;
  box-sizing: border-box;
  background-color: #fbfbfb;
}

.title {
  margin: 0;
  color: #e2661b;
  font-size: .9rem;
  font-weight: bold;
}

.highlight {
  background-color: rgba(253, 225, 15, 0.168);
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 140;
  padding-left: 32px;
  padding-top: 40px;
}

div.sticky-addition {
  position: -webkit-sticky;
  position: sticky;
  top: 140;
}

body {
  font-size: .9rem;
}

/* pop-up put post =================== */
/* pop-up put post =================== */

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

/* The popup form - hidden by default */
.form-popup {
  width: 300px;
  display: none;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
